@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');


*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Quattrocento Sans', sans-serif;
}

body {
  margin: 0;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 10px;
  grid-auto-rows: min(100px);
}
